<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="serverUrl" value="https://cloud.rozetka.ua/remote.php/webdav/" />
        <add key="dbServerName" value="crm-dev" />
        <add key="initialCatalog" value="DOdevVarha" />
        <add key="nextCloudUserName" value="varga" />
        <add key="nextCloudPassword" value="qiz2Zs" />
        <add key="entities" value="Account,Contact,Contract" />
        <add key="fromNumber" value="0" />
    </appSettings> 
</configuration>